.bg-primary {
    background: linear-gradient(to left, #28a5f5, #1e87f0);
}

.middleman-logo {
    width: 50px;
}

.middleman-logo-hero {
    width: 15rem;
}

pre {
    background: inherit;
}

.edit-page {
    position: fixed;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    bottom: 0px;
    width: 150px;
    border-radius: 25px 25px 0px 0px;
    opacity: 0.7;
    a#edit-page-link {
        color: #fff;
        text-decoration: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    th {
        padding: 10px 12px;
        text-align: left;
        vertical-align: bottom;
        font-size: 12px;
        font-weight: normal;
        color: #999;
        text-transform: uppercase;
    }
    tbody > tr {
        transition: background-color 0.1s linear;
        &:nth-of-type(odd) {
            background: #f8f8f8;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
        }
        td {
            padding: 10px 12px;
            vertical-align: top;
        }
    }
}
