<nav class="uk-width-1-1">
    <ul class="uk-breadcrumb">
        <% bc_pages = get_breadcrumbs(current_page) %>
        <% bc_pages.reverse_each do |p| %>
            <li><%= link_to p.data.title, p %></li>
        <% end %>
        <li><span><%= current_page.data.title %></span></li>
    </ul>
</nav>