<% if current_page.children %>
    <ul class="uk-nav-primary uk-nav-parent-icon uk-padding-small" uk-nav>
        <% current_page.children.each_with_index do |p, index| %>
            <li>
                <%= link_to "#{index + 1}. #{p.data.title}", p %>
            </li>
        <% end %>
    </ul>
<% end %>

