<% if current_page.children %>
    <ul class="uk-nav-primary uk-nav-parent-icon uk-padding-small" uk-nav>
        <% current_page.children.each_with_index do |p, index| %>
            <li>
                <a href="<%= p.url %>"><%= index + 1 %>. <%= p.data.title %></a>
            </li>
        <% end %>
    </ul>
<% end %>

