<header role="banner" id="main">
  <section class="uk-text-center">
    <h1 class="hero-headline">Middleman UIkit Documentation Template</h1>
    <p class="uk-padding-small">Template for documentation pages styled with UIkit for Middleman. Edit this part in 'source/partials/_hero.erb' file.</p>
    <div class="uk-flex uk-flex-center">
        <hr class="uk-divider-icon uk-padding-small uk-width-2-3 uk-text-center">
    </div>
  </section>
</header>