<footer uk-grid class="uk-background-muted uk-padding-small">
    <p class="uk-width-1-1 uk-width-auto@s uk-text-right uk-text-left@s uk-margin-remove uk-flex-last uk-flex-first@s">
        &copy; <%= Date.today.year %>
        <%= link_to data.config.site_name, '/index.html' %>
    </p>

    <div class="uk-width-1-1 uk-width-expand@s uk-flex uk-flex-right">
        <% data.footer_links.each do |link| %>
            <% icon_label = "<span uk-icon='#{link.icon}'></span> #{link.label}" %>
            <%= link_to icon_label, link.url, class: "uk-link-heading uk-text-small uk-text-middle uk-margin-left" %>
        <% end %>
    </div>
</footer>
