<% wrap_layout :core do %>
  <main class="uk-padding-small uk-margin-bottom" role="main">
    <div uk-grid class="uk-grid-small">
        <%= partial "partials/sidebar_nav" %>
        <div class="uk-width-expand" id="main">
            <%= partial "partials/breadcrumbs" %>
            <%= yield %>
        </div>
    </div>
  </main>
<% end %>
